@tailwind base;
@tailwind components;
@tailwind utilities;


.battery_gradient { 
    background: url('../public/gradientTextBackgrounds/linearGradientBackground.svg') no-repeat;
    color: transparent;
    background-clip: text;
}

.cermanic_gradient { 
    background: url('../public/gradientTextBackgrounds/cermanicGradientBackground.svg') no-repeat;
    color: transparent;
    background-clip: text;
}